.popup-conclus-criao {
  width: 282px;
  height: 324px;
}

.popup-conclus-criao .overlap-group {
  position: relative;
  height: 248px;
  background-color: #0d122c;
  border-radius: 17px;
}

.popup-conclus-criao .image {
  position: absolute;
  width: 115px;
  height: 115px;
  top: 23px;
  left: 89px;
  object-fit: cover;
}

.popup-conclus-criao .chave-enviada-com {
  position: absolute;
  width: 260px;
  top: 146px;
  left: 11px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  letter-spacing: -0.32px;
  line-height: 31px;
}
